body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

p{
    margin-bottom: 20px;
}

/* Estilo para o contêiner principal */
h1 {
    text-align: center;
    color: #333;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    background-color: #fafafa;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li:hover {
    background-color: #f0f0f0;
}

/* Estilo para o link de exclusão e conclusão */
a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    border-radius: 5px;
}

a:hover {
    opacity: 0.8;
}

.concluir {
    background-color: #28a745;
}

.excluir {
    background-color: #dc3545;
}

/* Estilo para tarefas concluídas */
.s-concluida {
    text-decoration: line-through;
    color: #888;
}

/* Estilo para o formulário */
form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

input[type="text"],
select {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}