<!-- Em website/templates/home.html -->
<!DOCTYPE html>
<html lang="pt-br">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="header">
        <h1>To-Do List</h1>
    </div>
    <div class="container">
        <form method="POST">
            {% csrf_token %}
            <label for="nome">Nome da Tarefa</label>
            <input type="text" name="entrada" placeholder="Digite a tarefa">
        
            <label for="categoria">Categoria</label>
            <select id="categoria" name="categoria">
                <option value="Personal">Pessoal</option>
                <option value="Work">Trabalho</option>
                <option value="Education">Educação</option>
            </select>
        
            <button type="submit">Criar Tarefa</button>
        </form>
        
        <ul>
            {% for task in tasks %}
                <li>{{ task.name }} - {{ task.category }}</li>
                <input type="checkbox" name="option1" value="1">
                <a href="{% url 'delete_task' task.id %}" onclick="return confirm('Tem certeza que deseja excluir?');">Excluir</a>
            {% empty %}
                <li>Sem tarefas ainda!</li>
            {% endfor %}
        </ul>
        
    </div>
    <div class="footer">
        <p1>&copy; 2024 To-Do List. Todos os direitos reservados.</p>
    </div>
</body>
</html>
